body{
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background: rgb(251,206,63);
    background: radial-gradient(circle, rgba(251,206,63,1) 0%, rgba(252,70,107,1) 100%);
}

.toDoContainer{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:20px;
    width:500px;
    padding:15px;
    border-radius: 10px;
    background-color: rgb(252, 137, 70);
    border:1px solid black;
    box-shadow: 0px 0px 10px rgb(252, 112, 70);
}

.toDoListHeader{
    text-align: center;
    font-size: 50px;
    margin:0px;
    font-family: 'Varela Round';
}

.toDoList{
    display:flex;
    flex-direction: column;
}

.toDoItem{
    font-size: 25px;
    font-family: 'Varela Round';
    cursor: pointer;
    color:white;
}

.filterContainer{
    display:flex;
    justify-content: center;
    gap:10px;
}

.filterButton{
    width:100px;
    height:25px;
    border-radius:5px;
    font-size: 15px;
    background-color: rgb(251,206,63);
    font-family: 'Varela Round';
    border:1px solid black;
    cursor: pointer;
}